{% static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'ExamQuestion\css\style.css'%}">
    <title>صفخه اصلی</title>
</head>

<body>
  <div class="container" dir="rtl">
    <p>
      نهضت مشروطه در زمان کدام پادشاه اتفاق افتاد و نتیجه آن چه بود؟
    </p>
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        نمایش پاسخ
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        مظفرالدین شاه _ نظام پادشاهی استبدادی، جای خود را به پادشاهی م رشوطه دادکه در آن،
        اختیارات شاه بر اساس قانون محدود میشد و نهادهایی مانند مجلس شورا و هیئت وزیران
        میتوانست در اداره کشور دخالت کند
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>